@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

$font-family-sans-serif: 'Open Sans', sans-serif;
$left-gutter: rem-calc(70);

.container { width: 1240px; }

#nav {
  background: $brand-color;
  -webkit-box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: $left-gutter;
  z-index: 501;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.list-player-stats {
  li {
    line-height: 24px;
    .label {
      margin: 2px 0;
      padding: 0.2em 0.6em;

      font-size: 14px;
    }
  }
}
hr { margin: 10px 0; }

body {
	background: #faf9f8;
	line-height: 1;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;

  font-family: 'Open Sans', sans-serif;
}

@mixin hr-style($border-styles...) {
	@each $border-style in $border-styles {
		hr.#{$border-style} {
			border-style: $border-style;
		}
	}
}

@include hr-style(dotted, dashed);

.fwb {
	font-weight: bold;
}

select {
	background-position: 92% center;
}

fieldset .search-input {
	margin-bottom: 10px;
}

.label {
	margin: 0 0 4px 0;
	i {
		margin-left: 2px;
	}
}

.list-h290 {
	height: 300px;
	margin-bottom: 0;
	overflow: auto;
}

.ul-0 {
	ul, dl, ol, .sub-nav {
		margin-bottom: 5px;
		dd, dt {
			margin-bottom: 0;
		}
	}
}

.ut-card {
    height: 200px; width: 135px;

    color: #fff;
    font: 12px/1.6 'Titillium Web', sans-serif;
    text-shadow: 1px 1px 1px #333;

    position: relative;
	& > div {
		position: absolute;
	}
	& > .card-workrates {
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		height: 140px; width: 10px;

		top: 30px;
		left: 0px;

		z-index: -1;
		.wr1, .wr2 {
			height: 70px; width: 10px;
		}
		.wr1 {
			-webkit-border-radius: 3px 0 0 0;
			-moz-border-radius: 3px 0 0 0;
			border-radius: 3px 0 0 0;
		}
		.wr2 {
			-webkit-border-radius: 0 0 0 3px;
			-moz-border-radius: 0 0 0 3px;
			border-radius: 0 0 0 3px;
		}
      .wr-low { background: rgba(255, 0, 0, 0.8); }
      .wr-med { background: rgba(253, 153, 39, 0.8); }
      .wr-high { background: rgba(78, 255, 6, 0.8); }
	}
	.card-rating {
		top: 25px;
		left: 14px;
		font-size: 19px;
		line-height: 24px;
	}
	.card-name {
		top: 13px;
		left: 0;
		font-size: 13px;
		line-height: 14px;
		width: 100%;
		text-align: center;
	}
	.card-position {
		top: 29px;
		left: 45px;
		font-size: 11px;
		text-align: left;
	}
	.card-nation {
		top: 85px;
		left: 18px;
	}
	.card-club {
		top: 56px;
		left: 18px;
	}
	.card-picture {
		top: 34px;
		left: 56px;
	}
	.card-skill,
	.card-foot {
		top: 108px;
	}
	.card-skill { left: 10px; }
	.card-foot { left: 76px; }
	.card-attr1,
	.card-attr2,
	.card-attr3 {
		left: 21px;
	}
	.card-attr4,
	.card-attr5,
	.card-attr6 {
		left: 74px;
	}
	.card-attr1,
	.card-attr4 {
		top: 127px;
	}
	.card-attr2,
	.card-attr5 {
		top: 144px;
	}
	.card-attr3,
	.card-attr6 {
		top: 162px;
	}
}

.player-card-legend {
	background: url('/assets/img/cards/legend.png');

	color: #9F862A;
	text-shadow: 1px 1px 1px rgba(159,134,42,0.4);
}

.player-card-motm 			{ background: url('/assets/img/cards/motm.png');			}

.player-card-gold-rare 	    { background: url('/assets/img/cards/gold-rare.png'); 		}
.player-card-gold-nonrare   { background: url('/assets/img/cards/gold-nonrare.png'); 	}
.player-card-gold-if 	    { background: url('/assets/img/cards/gold-if.png'); 		}
.player-card-gold-tots 	    { background: url('/assets/img/cards/gold-tots.png'); 		}

.player-card-silver-rare 	{ background: url('/assets/img/cards/silver-rare.png'); 	}
.player-card-silver-nonrare { background: url('/assets/img/cards/silver-nonrare.png'); 	}
.player-card-silver-if 	    { background: url('/assets/img/cards/silver-if.png'); 		}
.player-card-silver-tots 	{ background: url('/assets/img/cards/silver-tots.png'); 	}

.player-card-bronze-rare 	{ background: url('/assets/img/cards/bronze-rare.png'); 	}
.player-card-bronze-nonrare { background: url('/assets/img/cards/bronze-nonrare.png'); 	}
.player-card-bronze-if 	    { background: url('/assets/img/cards/bronze-if.png'); 		}
.player-card-bronze-tots 	{ background: url('/assets/img/cards/bronze-tots.png'); 	}

form { // Definitely needs to be fixed
	.row {
		.row {
			margin: 0 -0.9375rem;
		}
		.large-3 {
			fieldset {
				> .row {
					margin: 0 -0.5rem;
				}
			}
		}
	}
}

.builder {
	background: url('/assets/img/builder.png') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	max-width: 974px;
	width: 100%;

	position: relative;
	.builder-formation {
		background: url('/assets/img/builder-442.png');
		height: 403px; width: 974px;
		margin: 0;
		margin-top: 26px;
		opacity: 0.5;

		list-style: none;
		li {
			background: url('/assets/img/builder-card.png') no-repeat;
			height: 98px; width: 79px;

			position: absolute;
			&.pos-gk {
				bottom: 34px;
				left: 50%;
					margin-left: -40px;
			}
			&.pos-rb {
				right: 216px;
				bottom: 73px;
			}
			&.pos-rcb {
				right: 345px;
				bottom: 73px;
			}
			&.pos-lcb {
				right: 552px;
				bottom: 73px;
			}
			&.pos-lb {
				right: 677px;
				bottom: 73px;
			}
			&.pos-rm {
				right: 216px;
				bottom: 212px;
			}
		}
	}
}

.comment-child {
  padding-left: 75px;
  & + .comment-child {
    padding-left: 150px;
  }
}

.brand {
  height: 65px; width: 324px;
  margin-bottom: 10px;
  background-color: rgb(86, 85, 89);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.0980392);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  h1 {
    margin: 0;

    color: #fff;
    line-height: 65px;
  }
}

.club-card-gold-rare {
  background: url('/assets/img/cards/large-gold-rare.png') no-repeat;
  -webkit-background-size: 135px 200px;
  background-size: 135px 200px;
  height: 200px; width: 135px;
  .club-card-title,
  .club-card-name {
    width: 100%;

    font-size: 14px;
    text-align: center;

    position: absolute;
    top: 8px;
  }
  .club-card-name {
    top: auto;
    bottom: 34px;
  }
  .club-card-badge {
    position: absolute;

    top: 70px; left: 15px;
  }
  .club-card-nation {
    position: absolute;

    bottom: 65px; left: 15px;
  }
  .club-card-shirt {
    position: absolute;

    top: 50px; right: 8px;
  }
}

.stat-block-grid {
	li {
		padding-bottom: 0;
	}
	p {
		margin: 0;
	}
}

.ad-336 {
	margin: 0 auto 10px;
	width: 336px;
}

// Stying of stat inputs in admin/totw/existing/{player_id}
.existing-player-input[type="text"],
.existing-player-input {
	float: right;
	height: 20px; width: 65px;
	margin: 2px 0;
	padding: 0;

	text-align: center;
	&:not([type="text"]) {
		text-indent: 10px;
	}
}

.mt-10 { margin-top: 10px; }
.mr-15 { margin-right: 15px; }
.mb-10 { margin-bottom: 10px; }
.ptb-10 { padding: 10px 0; }
.pl-0 { padding-left: 0; }

.main-content {
	float: left;
	width: 70%;
}

aside {
	float: right;
	width: 28.5%;
}

.tabs {
	border-bottom: 1px solid #34aadc;
}
