/bootstrap/compiled.php
.env.*.php
.env.php
vagrantfile
package.box
fifautdb.sublime-workspace
fifautdb.sublime-project
config.codekit
.vagrant
.idea
.codekit-cache
eapulls

/public/assets/img/badges
/public/assets/img/cards
/public/assets/img/clubs
/public/assets/img/kits
/public/assets/img/leagues
/public/assets/img/nations
/public/assets/img/players
