// Colour lavbels for stats
.label-highest  { background: #0b6700; }
.label-high 	{ background: #4eb800; }
.label-normal 	{ background: #c99b00; }
.label-low 		{ background: #b14d00; }
.label-lowest 	{ background: #850000; }
